[submodule "spring-rest-api"]
	path = spring-rest-api
	url = https://github.com/ITHwang/spring-rest-api.git
[submodule "data-jpa-study"]
	path = data-jpa-study
	url = https://github.com/ITHwang/data-jpa-study.git
[submodule "jQuery-to-vanilla-js"]
	path = jQuery-to-vanilla-js
	url = https://github.com/ITHwang/jQuery-to-vanilla-js.git
[submodule "unix"]
	path = unix
	url = https://github.com/ITHwang/unix.git
